<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dynaTrace.SCOM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <dynaTrace.SCOM.Properties.Settings>
            <setting name="SCOMServer_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="SCOMServer_Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="SCOMServer_ServerName" serializeAs="String">
                <value />
            </setting>
        </dynaTrace.SCOM.Properties.Settings>
    </applicationSettings>
</configuration>